/*
Web:		http://www.itmaniax.com
*/
/******************************************************************************/
/*********	GENERAL SETTINGS    ***********************************************/
/******************************************************************************/
a {
	cursor: pointer;
}
a:active,
a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: 0;
}

audio,
canvas,
video {
	max-width: 100%;
}

html {
	overflow-y: scroll;
}

textarea {
	max-width: 100%;
	min-width: 100%;
}
/******************************************************************************/
/******************************************************************************/
/******************************************************************************/