/******************************************************************************/
/******************************************************************************/
/*******************			ITM - THEME				***********************/
/******************************************************************************/
.theme-background {
    background-color: var(--theme_primary_color) !important;
}
.theme-text {
    color: var(--theme_primary_color) !important;
}
/******************************************************************************/
/******************************************************************************/
/*******************			ITM - DISPLAY				*******************/
/******************************************************************************/
.itm-none {
    display:none;
}
.itm-block {
    display:block;
}
.itm-inline-block {
    display:inline-block;
}
.itm-table {
    display: table;
    width: 100%;
}
.itm-table-row {
    display: table-row;
}
.itm-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 0;
    float: none;
}
/******************************************************************************/
/***********   BORDERS   ********************************************************/
/******************************************************************************/
.itm-border-none * {
    border: none !important;
}
/******************************************************************************/
/*******************			ITM - SKEW					*******************/
/******************************************************************************/
.itm-skew-vertical:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	bottom: 0px;
}
.itm-skew-horizontal:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
}
.itm-skew-top:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
}
.itm-skew-bottom:after
{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0px;
	left: 0px;
	right: 0px;
}
.itm-skew-right:after {
	content: "";
	position: absolute;
	top: 0px;
	right: -5px;
	width: 10px;
	height: 100%;
}
.itm-skew-left:before {
	content: "";
	position: absolute;
	top: 0px;
	left: -5px;
	width: 10px;
	height: 100%;
}
/*********************	SKEW DEGRADE AVAILABLE	*********************/
/*********************  		X AXIS			*********************/
.itm-skew-top.itm-skew:before,
.itm-skew-top.itm-skew:after,
.itm-skew-bottom.itm-skew:before,
.itm-skew-bottom.itm-skew:after,
.itm-skew-horizontal.itm-skew:before,
.itm-skew-horizontal.itm-skew:after {
	-ms-transform: skewY(-45deg);
	-webkit-transform: skewY(-45deg);
	transform: skewY(-45deg);
}
.itm-skew-top.itm-skew-15:before,
.itm-skew-top.itm-skew-15:after,
.itm-skew-bottom.itm-skew-15:before,
.itm-skew-bottom.itm-skew-15:after,
.itm-skew-horizontal.itm-skew-15:before,
.itm-skew-horizontal.itm-skew-15:after {
	-ms-transform: skewY(-15deg);
	-webkit-transform: skewY(-15deg);
	transform: skewY(-15deg);
}
.itm-skew-top.itm-skew-30:before,
.itm-skew-top.itm-skew-30:after,
.itm-skew-bottom.itm-skew-30:before,
.itm-skew-bottom.itm-skew-30:after,
.itm-skew-horizontal.itm-skew-30:before,
.itm-skew-horizontal.itm-skew-30:after {
	-ms-transform: skewY(-30deg);
	-webkit-transform: skewY(-30deg);
	transform: skewY(-30deg);
}
.itm-skew-top.itm-skew-60:before,
.itm-skew-top.itm-skew-60:after,
.itm-skew-bottom.itm-skew-60:before,
.itm-skew-bottom.itm-skew-60:after,
.itm-skew-horizontal.itm-skew-60:before,
.itm-skew-horizontal.itm-skew-60:after {
	-ms-transform: skewY(-60deg);
	-webkit-transform: skewY(-60deg);
	transform: skewY(-60deg);
}
.itm-skew-top.itm-skew-75:before,
.itm-skew-top.itm-skew-75:after,
.itm-skew-bottom.itm-skew-75:before,
.itm-skew-bottom.itm-skew-75:after,
.itm-skew-horizontal.itm-skew-75:before,
.itm-skew-horizontal.itm-skew-75:after {
	-ms-transform: skewY(-75deg);
	-webkit-transform: skewY(-75deg);
	transform: skewY(-75deg);
}
/*********************  		Y AXIS			*********************/
.itm-skew-left.itm-skew:before,
.itm-skew-left.itm-skew:after,
.itm-skew-right.itm-skew:before,
.itm-skew-right.itm-skew:after,
.itm-skew-vertical.itm-skew:before,
.itm-skew-vertical.itm-skew:after {
	-ms-transform: skewX(-45deg);
	-webkit-transform: skewX(-45deg);
	transform: skewX(-45deg);
}
.itm-skew-left.itm-skew-15:before,
.itm-skew-left.itm-skew-15:after,
.itm-skew-right.itm-skew-15:before,
.itm-skew-right.itm-skew-15:after,
.itm-skew-vertical.itm-skew-15:before,
.itm-skew-vertical.itm-skew-15:after {
	-ms-transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	transform: skewX(-15deg);
}
.itm-skew-left.itm-skew-30:before,
.itm-skew-left.itm-skew-30:after,
.itm-skew-right.itm-skew-30:before,
.itm-skew-right.itm-skew-30:after,
.itm-skew-vertical.itm-skew-30:before,
.itm-skew-vertical.itm-skew-30:after {
	-ms-transform: skewX(-30deg);
	-webkit-transform: skewX(-30deg);
	transform: skewX(-30deg);
}
.itm-skew-left.itm-skew-60:before,
.itm-skew-left.itm-skew-60:after,
.itm-skew-right.itm-skew-60:before,
.itm-skew-right.itm-skew-60:after,
.itm-skew-vertical.itm-skew-60:before,
.itm-skew-vertical.itm-skew-60:after {
	-ms-transform: skewX(-60deg);
	-webkit-transform: skewX(-60deg);
	transform: skewX(-60deg);
}
.itm-skew-left.itm-skew-75:before,
.itm-skew-left.itm-skew-75:after,
.itm-skew-right.itm-skew-75:before,
.itm-skew-right.itm-skew-75:after,
.itm-skew-vertical.itm-skew-75:before,
.itm-skew-vertical.itm-skew-75:after {
	-ms-transform: skewX(-75deg);
	-webkit-transform: skewX(-75deg);
	transform: skewX(-75deg);
}
/******************************************************************************/
/***********   ALERT   ********************************************************/
/******************************************************************************/
.itm-alert-icon {
    display: table-cell;
    padding-right: 15px;
    vertical-align: middle;
}
.itm-alert-text {
    display: table-cell;
    padding-left: 15px;
    vertical-align: middle;
    border-left: solid 1px;
}
/******************************************************************************/
/***********   MARGIN   ********************************************************/
/******************************************************************************/
.itm-m-0 {
    margin: 0;
}
.itm-m-5 {
    margin: 5px;
}
.itm-m-10 {
    margin: 10px;
}
.itm-m-15 {
    margin: 15px;
}
.itm-m-20 {
    margin: 20px;
}
.itm-m-25 {
    margin: 25px;
}
.itm-m-30 {
    margin: 30px;
}
/******************************************************************************/
.itm-m-b-0 {
    margin-bottom: 0;
}
.itm-m-b-5 {
    margin-bottom: 5px;
}
.itm-m-b-10 {
    margin-bottom: 10px;
}
.itm-m-b-15 {
    margin-bottom: 15px;
}
.itm-m-b-20 {
    margin-bottom: 20px;
}
.itm-m-b-25 {
    margin-bottom: 25px;
}
.itm-m-b-30 {
    margin-bottom: 30px;
}
/******************************************************************************/
.itm-m-t-0 {
    margin-top: 0;
}
.itm-m-t-5 {
    margin-top: 5px;
}
.itm-m-t-10 {
    margin-top: 10px;
}
.itm-m-t-15 {
    margin-top: 15px;
}
.itm-m-t-20 {
    margin-top: 20px;
}
.itm-m-t-25 {
    margin-top: 25px;
}
.itm-m-t-30 {
    margin-top: 30px;
}
/******************************************************************************/
.itm-m-l-0 {
    margin-left: 0;
}
.itm-m-l-5 {
    margin-left: 5px;
}
.itm-m-l-10 {
    margin-left: 10px;
}
.itm-m-l-15 {
    margin-left: 15px;
}
.itm-m-l-20 {
    margin-left: 20px;
}
.itm-m-l-25 {
    margin-left: 25px;
}
.itm-m-l-30 {
    margin-left: 30px;
}
/******************************************************************************/
.itm-m-r-0 {
    margin-right: 0;
}
.itm-m-r-5 {
    margin-right: 5px;
}
.itm-m-r-10 {
    margin-right: 10px;
}
.itm-m-r-15 {
    margin-right: 15px;
}
.itm-m-r-20 {
    margin-right: 20px;
}
.itm-m-r-25 {
    margin-right: 25px;
}
.itm-m-r-30 {
    margin-right: 30px;
}
/******************************************************************************/
/***********   Paddding   *****************************************************/
/******************************************************************************/
.itm-p-0 {
    padding: 0;
}
.itm-p-5 {
    padding: 5px;
}
.itm-p-10 {
    padding: 10px;
}
.itm-p-15 {
    padding: 15px;
}
.itm-p-10 {
    padding: 10px;
}
.itm-p-15 {
    padding: 15px;
}
.itm-p-20 {
    padding: 20px;
}
.itm-p-25 {
    padding: 25px;
}
.itm-p-30 {
    padding: 30px;
}
/******************************************************************************/
.itm-p-b-0 {
    padding-bottom: 0;
}
.itm-p-b-5 {
    padding-bottom: 5px;
}
.itm-p-b-10 {
    padding-bottom: 10px;
}
.itm-p-b-15 {
    padding-bottom: 15px;
}
.itm-p-b-20 {
    padding-bottom: 20px;
}
.itm-p-b-25 {
    padding-bottom: 25px;
}
.itm-p-b-30 {
    padding-bottom: 30px;
}
/******************************************************************************/
.itm-p-t-0 {
    padding-top: 0;
}
.itm-p-t-5 {
    padding-top: 5px;
}
.itm-p-t-10 {
    padding-top: 10px;
}
.itm-p-t-15 {
    padding-top: 15px;
}
.itm-p-t-20 {
    padding-top: 20px;
}
.itm-p-t-25 {
    padding-top: 25px;
}
.itm-p-t-30 {
    padding-top: 30px;
}
/******************************************************************************/
.itm-p-l-0 {
    padding-left: 0;
}
.itm-p-l-5 {
    padding-left: 5px;
}
.itm-p-l-10 {
    padding-left: 10px;
}
.itm-p-l-15 {
    padding-left: 15px;
}
.itm-p-l-20 {
    padding-left: 20px;
}
.itm-p-l-25 {
    padding-left: 25px;
}
.itm-p-l-30 {
    padding-left: 30px;
}
/******************************************************************************/
.itm-p-r-0 {
    padding-right: 0;
}
.itm-p-r-5 {
    padding-right: 5px;
}
.itm-p-r-10 {
    padding-right: 10px;
}
.itm-p-r-15 {
    padding-right: 15px;
}
.itm-p-r-20 {
    padding-right: 20px;
}
.itm-p-r-25 {
    padding-right: 25px;
}
.itm-p-r-30 {
    padding-right: 30px;
}
/******************************************************************************/
/***********   Paddding   *****************************************************/
/******************************************************************************/
.itm-ribbon-box {
    position:relative;
}
/******************************************************************************/
.itm-ribbon {
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: 1;
    overflow: hidden;
    width: 75px;
    height: 75px;
    text-align: right;
}
.itm-ribbon span {
    font-size: 10px;
    color: var(--color_white-1);
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 20px;
    transform: rotate(45deg);
    width: 100px;
    display: block;
    background: var(--color_primary);
    background: linear-gradient( var(--color_primary) 0%,  var(--color_primary-hover) 100%);
    box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
    position: absolute;
    top: 19px; right: -21px;
}
/******************************************************************************/
.itm-ribbon span::before {
    content: '';
    position: absolute;
    left: 0px;
    top: 100%;
    z-index: -1;
    border-left: 3px solid var(--color_primary);
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--color_primary);
}
.itm-ribbon span::after {
    content: '';
    position: absolute;
    right: 0%; top: 100%;
    z-index: -1;
    border-right: 3px solid var(--color_primary);
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-top: 3px solid var(--color_primary);
}
/******************************************************************************/
.itm-ribbon-lg {
    width: 115px;
    height: 115px;
}
.itm-ribbon-lg span {
    font-size: 12px;
    line-height: 25px;
    top: 32px;
    right: -30px;
    width: 150px;
}

/******************************************************************************/
.itm-ribbon.danger span {
    background: linear-gradient( var(--color_danger) 0%, var(--color_danger-hover) 100%);
}
.itm-ribbon.danger span::before {
    border-left-color: var(--color_danger-hover);
    border-top-color: var(--color_danger-hover);
}
.itm-ribbon.danger span::after {
    border-right-color: var(--color_danger-hover);
    border-top-color: var(--color_danger-hover);
}
/******************************************************************************/
.itm-ribbon.warning span {
    background: linear-gradient( var(--color_warning) 0%, var(--color_warning-hover) 100%);
}
.itm-ribbon.warning span::before {
    border-left-color: var(--color_warning-hover);
    border-top-color: var(--color_warning-hover);
}
.itm-ribbon.warning span::after {
    border-right-color: var(--color_warning-hover);
    border-top-color: var(--color_warning-hover);
}
/******************************************************************************/
.itm-ribbon.success span {
    background: linear-gradient( var(--color_success) 0%, var(--color_success-hover) 100%);
}
.itm-ribbon.success span::before {
    border-left-color: var(--color_success-hover);
    border-top-color: var(--color_success-hover);
}
.itm-ribbon.success span::after {
    border-right-color: var(--color_success-hover);
    border-top-color: var(--color_success-hover);
}
/******************************************************************************/
.itm-ribbon.primary span {
    background: linear-gradient( var(--color_primary) 0%, var(--color_primary-hover) 100%);
}
.itm-ribbon.primary span::before {
    border-left-color: var(--color_primary-hover);
    border-top-color: var(--color_primary-hover);
}
.itm-ribbon.primary span::after {
    border-right-color: var(--color_primary-hover);
    border-top-color: var(--color_primary-hover);
}
/******************************************************************************/
.itm-ribbon.secondary span {
    background: linear-gradient( var(--color_secondary) 0%, var(--color_secondary-hover) 100%);
}
.itm-ribbon.secondary span::before {
    border-left-color: var(--color_secondary-hover);
    border-top-color: var(--color_secondary-hover);
}
.itm-ribbon.secondary span::after {
    border-right-color: var(--color_secondary-hover);
    border-top-color: var(--color_secondary-hover);
}
/******************************************************************************/
.itm-ribbon.info span {
    background: linear-gradient( var(--color_info) 0%, var(--color_info-hover) 100%);
}
.itm-ribbon.info span::before {
    border-left-color: var(--color_info-hover);
    border-top-color: var(--color_info-hover);
}
.itm-ribbon.info span::after {
    border-right-color: var(--color_info-hover);
    border-top-color: var(--color_info-hover);
}
/******************************************************************************/
.itm-ribbon.light span {
    color: var(--color_black-1);
    background: linear-gradient( var(--color_light) 0%, var(--color_light-hover) 100%);
}
.itm-ribbon.light span::before {
    border-left-color: var(--color_light-hover);
    border-top-color: var(--color_light-hover);
}
.itm-ribbon.light span::after {
    border-right-color: var(--color_light-hover);
    border-top-color: var(--color_light-hover);
}
/******************************************************************************/
.itm-ribbon.dark span {
    background: linear-gradient( var(--color_dark) 0%, var(--color_dark-hover) 100%);
}
.itm-ribbon.dark span::before {
    border-left-color: var(--color_dark-hover);
    border-top-color: var(--color_dark-hover);
}
.itm-ribbon.dark span::after {
    border-right-color: var(--color_dark-hover);
    border-top-color: var(--color_dark-hover);
}
/******************************************************************************/
/******************************************************************************/
